<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723284176886-9kjm8vs475pscfn0shir2kev10t096gu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723284176886-9kjm8vs475pscfn0shir2kev10t096gu</string>
	<key>API_KEY</key>
	<string>AIzaSyD1eP85493KENQTap-Pb91wjpvzQmflbGM</string>
	<key>GCM_SENDER_ID</key>
	<string>723284176886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fooddeliveryappyoutube</string>
	<key>PROJECT_ID</key>
	<string>fooddelivery-5a9c6</string>
	<key>STORAGE_BUCKET</key>
	<string>fooddelivery-5a9c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723284176886:ios:281cbd2bac158d186f61d7</string>
</dict>
</plist>